//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/promo/promo.pug
include ../blocks/owl-carousel/owl-carousel.pug
