extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header

block content
  +owl-carousel('promo-slider').s-promo-slider
    div
      .s-promo-slider__cover
        img(src='img/slide1.jpg', alt='')
      .s-promo-slider__desc Консультационные и обучающие услуги предприятиям при разработке и внедрении систем менеджмента в cоответствии с требованиями международных стандартов.
    div
      .s-promo-slider__cover
        img(src='img/slide2.jpg', alt='')
      .s-promo-slider__desc Консультационные и обучающие услуги предприятиям при разработке и внедрении систем менеджмента в cоответствии с требованиями международных стандартов.

  +owl-carousel('clients-slider')
    img(src='img/pulkovo.png', alt='')
    img(src='img/vodokanal_2.png', alt='')
    img(src='img/aehk.png', alt='')
    img(src='img/medi.png', alt='')
    img(src='img/maek.png', alt='')
    img(src='img/gp_transgaz_tomsk.png', alt='')
    img(src='img/viksunskiy_met_zavod.png', alt='')
    img(src='img/gpa.png', alt='')
    img(src='img/pgups.png', alt='')
    img(src='img/hyndai.png', alt='')
    img(src='img/kirov_energomash.png', alt='')
    img(src='img/rosneft.png', alt='')
    img(src='img/kumz.png', alt='')
    img(src='img/altayenergosbyt.png', alt='')
    img(src='img/uvatneftegaz.png', alt='')
    img(src='img/gm.png', alt='')
    img(src='img/vodokanal.png', alt='')
    img(src='img/gazprom_transgaz_msk.png', alt='')
    img(src='img/hlebniy_dom.png', alt='')
    img(src='img/rzd.png', alt='')
    img(src='img/rea.png', alt='')
    img(src='img/logo_1.png', alt='')
    img(src='img/gruppa_komunalniye_tekhnologii.png', alt='')
    img(src='img/logo_2.png', alt='')
    img(src='img/gazprom_invest.png', alt='')
    img(src='img/nordavia.png', alt='')
    img(src='img/izh_neftemash.png', alt='')
    img(src='img/kamaz.png', alt='')

block footer