// @font-face {
//   font-family: 'Fira Sans';
//   src: local('Fira Sans Medium'),
//        local('FiraSans-Medium'),
//        url('../fonts/Firasansmedium.woff2') format('woff2'),
//        url('../fonts/Firasansmedium.woff') format('woff'),
//        url('../fonts/Firasansmedium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: optional;
// }