.s-promo-slider {

  &__cover {
    width: 100%;
    height: 298px;
    margin-bottom: 2px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__desc {
    background-color: #003a70;
    color: #fff;
    padding: 1rem;
  }

  > .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate3d(0,-50%,0);
    margin: 0;
    height: 50px;

    button.owl-prev,
    button.owl-next {
      background-color: rgba($white, 0.75);
      border-radius: 0;
      transition: all 0.25s ease-out 0s;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      box-shadow:
        0 0 0 1px rgba(0,0,0,0.05),
        0px 5px 15px 0px rgba(0,0,0,0.0);

      &.disabled {
        opacity: 0.75;
        cursor: not-allowed;
        background-color: rgba($white, 1);
      }

      &:not(.disabled):hover {
        background-color: rgba($white, 1);
        box-shadow:
        0 0 0 1px rgba(0,0,0,0.05),
        0px 5px 15px 0px rgba(0,0,0,0.05);
      }
    }
  }

  .owl-prev,
  .owl-next {
    text-align: center;
    position: absolute;
    top: 0;

    svg {
      padding: 5px;
      vertical-align: middle;

      polyline {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        stroke-width: 5;
      }
    }

    &:hover,
    &:focus {

      svg polyline {
        stroke-width: 7;
      }
    }

    &:active {

      svg {

        polyline {
          stroke-width: 9;
          transition-property: all;
          transition-duration: .15s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }
  }

  .owl-prev {
    left: 2rem;
  }

  .owl-next {
    right: 2rem;

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}